<!doctype html>
<title>Twitter feed</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>Simple twitter to atom</h1>
    <div>
        <h2>Available endpoints:</h2>
        <p><a href="{{ url_for('rest_view.home') }}">My home timeline</a></p>
        <p><a href="{{ url_for('rest_view.user', user='NASA') }}">NASA timeline, with replies following the tweet.</a></p>
        <p><a href="{{ url_for('rest_view.hashtag', hashtag='python') }}">Tweets with python</a></p>
        <p>Made with love by Petr Kotas</p>
    </div>
</article>